@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  
  font-family: 'Roboto', sans-serif;
  
}

h1{
  text-align: center;
  color: rgb(146, 139, 120);
  font-size: xxx-large;
}

nav{
  margin: 10px;
}

#form-contact{
  color: #fff;
  text-align: center;
}

#form-contact:hover {
  color: rgba(30, 39, 46,1.0);
  background-color:  #fff;
}

.bg-black_1{
  background-color:  rgb(148, 145, 138);
}


header{
  text-align: center;
  color: rgba(30, 39, 46,1.0);
}

.form-1 {
  width: 100%;
}
.mb-3 {
  width: 40%;
  margin-left: 0%;
  border-radius: 5%;
  border-color: #fff;
}

.nav-item{
  color:white;
}

.form-label {
  padding-right: 3%;
  
}

.form-control {
  padding-right: 3%;
  
}

#btn-1 {
  width: 25%;
  margin-left: 38%;
  background-color:  rgb(148, 145, 138);
  color: #fff;
  border-color: #fff;
}


div {
  text-align: center; 
  
  color: #fff;
  background-color:  rgb(148, 145, 138);
} 

form {
  list-style: none;
}

form {
margin: 0 auto;
width: 400px;
margin-top:1em;
padding: 1em;
}

ul {
    list-style:none;
    padding:0;
    margin: 0;

}
form li + li {
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 100%;
    
    }

#form-message {
  font-family: 'Roboto', sans-serif; 
}

#mensaje {
  background-color:  rgb(148, 145, 138);
}

#form-contact:hover {
  color:  rgb(148, 145, 138);
  background-color:  #fff;
}
::placeholder {
  color: rgb(146, 139, 120);
  font-size: 90%;
}




footer {
  background-color: rgb(148, 145, 138);
  color:#fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10%;
  padding-bottom: 1%;
  margin:10px;


  font-size: small;

}


